<div class="main-content pt-md-0 px-md-0">
  <div class="container-fluid">
    {{ isClientReady }}
    <div class="card card-border">
      <div class="card-header card-header-success">
        <h3 class="card-title">Map - School Closure Evolution</h3>
      </div>
      <div class="card-body" style="height: 80vh" *ngIf="schoolClosureData">
        <app-map-school-evolution
          [countries]="schoolClosureData.countries"
        ></app-map-school-evolution>
      </div>
      <div class="card-footer">
        <div class="stats">Updated on {{ schoolClosureTableUpdatedOn }}</div>
        <div class="stats">
          Source: CovidMeasures Community & &nbsp;
          <a
            href="https://www.bsg.ox.ac.uk/research/research-projects/coronavirus-government-response-tracker"
            target="_blank"
            >OxCGRT</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
